<html>
    <head>
        <title>Program-8</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <style>   
            .error-message {
                color: red;
            }
        </style>
    </head>

    <body ng-app="myApp8">
        <h2>Login Page</h2>
        <div ng-controller="show">
            <form name="loginForm">
                Enter the username: <input type="text" id="user_name" name="userName4" ng-model="userName" ng-minlength="5" ng-maxlength="8" required />
                <span class="error-message" ng-show="loginForm.userName4.$error.required && loginForm.userName4.$dirty">Username is required</span>

                <span class="error-message" ng-show="loginForm.userName4.$error.minlength">Username can have minimum 5 characters</span>
                <span class="error-message" ng-show="loginForm.userName4.$error.maxlength">Username can have maximum 8 characters</span>
                <br /><br />

                Enter the password: <input type="password" id="pswd" name="password" ng-model="password" ng-minlength="5" ng-maxlength="8" required />
                <span class="error-message" ng-show="loginForm.password.$error.minlength">Password can have minimum 5 characters</span>
                <span class="error-message" ng-show="loginForm.password.$error.maxlength">Password can have maximum 8 characters</span>
                <br /><br />

                <input type="button" value="Login" ng-disabled="loginForm.$invalid" ng-click="login()" id="loginButton" />
            </form>
        </div>
    </body>
</html>

<script>
    var app = angular.module("myApp8", []);
    app.controller("show", function($scope) {
        $scope.userName = ""
        $scope.password = ""
        $scope.numAttempts = 0

        $scope.login = function() {
            if($scope.userName.toLowerCase() == "chinmay" && $scope.password == "123@123")
            {
                alert("Login Successful!");
            }
            else {
                $scope.numAttempts++;
                if($scope.numAttempts <= 3) {
                    alert("Incorrect login credential!!! Attempt number " + $scope.numAttempts);
                }
                else {
                    document.getElementById("loginButton").disabled = true;
                }
            }
        }
    })
</script>